{
  "presets": ["env", "react", "es2017"],
  "sourceMaps": "inline",
  "plugins": [
    "react-hot-loader/babel", ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}